#enemySprite {
   
   float:right;
    width: 300px;
    height:300px;

}




.enemy-progress-bar {

float:right;

height: 20px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid #333;
  margin-left: 85px;  
  margin-bottom: 20px;
}

.enemy-filler {
    
  background: #b815ce;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

/* button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
} */

/* #vids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vids a:first-of-type {
  margin-bottom: 5px;
} */