body{
  background-color: black;
}

#rpgWrapper {
display: absolute;
background-repeat: no-repeat;
background-size:cover;
  background-image:url("./Assets/Images/rpgBackground.png");


  width: 828px;
  height:293px;
}

/* use percentages for */


button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
} */


#enemyHealthBar {
  width: 200px;

}

#RpgEnemyHealthBar {
 width: 200px;
position: absolute;
width: 197px;
height: 11px;
left: 533px;
top: 224px;
}

#RpgHeroHealthBar {
  
 width: 100px;
 position: absolute;
width: 100px;
height: 10px;
left: 125px;
top: 175px;
}

#heroSpot {

position: absolute;
width: 115px;
height: 117px;
left: 110px;
top: 71px;
}
#moveDiv {

}

#enemySpot {

}

