@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Press Start 2P';
}
#rpgWrapper {
display: absolute;
background-repeat: no-repeat;
background-size:cover;
  background-image:url("./Assets/Images/rpgBackground.png");


  width: 828px;
  height:293px;
}

/* use percentages for */


button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
} */


#enemyHealthBar {
  width: 200px;

}


#RpgHeroHealthBar {
  

position: absolute;
width: 140px;
height: 5px;
left: 155px;
top: 135px;
font-size: 12px;
}

.heroSpot {

position: absolute;
pointer-events: none;
left: 150px;
top: 45px;
}
#moveDiv {
/* background-image: url('./Assets/Images/moveWindow.png'); */
/* position: absolute;
width: 73px;
height: 186px;
left: 71px;
top: 61px; */
/* 
border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.enemySpot {
position: absolute;
left: 440px;
top: 0px;
}

#RpgEnemyHealthBar {

position: absolute;
width: 220px;
height: 11px;

bottom:88px;
right: 94px;
}

#sephName{
  margin-top:20px;
 
  /* background-color:rgb(39, 39, 39); */
}
#enemyContainer{
  position: absolute;
  margin-left:465px;
  margin-top:170px;
  width: 318px;
  height: 95px;
  background:none;


}
/* #heroMoveDiv {
  text-align: center;
 margin-left:4px;
 margin-top: 15px;
 font-size: 10px;
 line-height: 28px;
} */

#centralTextArea {
  position: absolute;
  font-family: 'Press Start 2P';
  font-size: 10px;
  margin-left:295px;
  margin-top: 45px;
  text-align: center;
  color: white;


}

#scoreDiv{
  position: absolute;
  font-family: 'Press Start 2P';
  font-size: 10px;
  margin-left:388px;
  margin-top: 200px;
  color: white;

}
#scoreTextDiv{
  position: absolute;
  font-size: 10px;
  margin-left:410px;
  margin-top: 230px;
  color: white;
  font-size:15px;
}
#movesWindow{
 display: inline-flex;
float:left;
margin-left: 50px;
  width: 318px;
  height: 95px;


  top:165px;
background: none;
  font-size: 12px;
}

#heroMoves{
  display: inline-flex;
  margin-left: -120px;
  margin-top: 10px;
 
  text-align: left;

  

}

.nes-btn{

  width:65px;
  height: 25px;
  font-size: 7.1px;

}
.title{
  height:24px;
  font-size: 8px;
}